<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
    <meta name="viewport" content="width=1200">
    <title>LongJing</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/my.css">

    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
      <div class="container-fluid clearfix">
        <h1>龙净<small>项目管理系统</small></h1>
      </div>
    </header>

    <div id="pageBody" class="container-fluid">
      <div class="row login-bg">
        <div class="col-sm-4 col-sm-offset-8">
          <div class="row login-bar">
            <div class="col-xs-10 col-xs-offset-1">
              <div class="page-header">
                <h2>登录<small>LOGIN</small></h2>
              </div>
              <div>
                <form>
                  <div class="input-group input-group-lg login-input">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <input type="text" class="form-control" name="userID" placeholder="用户ID">
                  </div>
                  <div class="input-group input-group-lg login-input">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    <input type="text" class="form-control" name="password" placeholder="密码">
                  </div>
                  <div class="alert alert-warning" role="alert">登录中...</div>
                  <div class="login-input">
                    <button type="submit" class="btn btn-success btn-lg btn-block">登录</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <a href="#">客服人员</a> |
      <a href="#">联系邮箱</a> |
      <span>Copyright © 2017 LongJing<span class="hidden-xs">. All Rights Reserved.</span></span>
    </footer>



    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>