<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
    <meta name="viewport" content="width=1200">
    <title>LongJing</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/my.css">

    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
      <div class="container-fluid clearfix">
        <h1>龙净<small>项目管理系统</small></h1>
        <div class="user hidden-xs">
          <div class="user-icon">
            <img src="image/head.jpg" class="img-thumbnail" width="100%">
          </div>
          <div class="user-info">
            <p><span class="label label-primary">管理员</span></p>
            <p>
              ADMIN | 
              <a href="#">退出</a>
            </p>
          </div>
        </div>
        <div class="user visible-xs dropdown">
          <a class="user-icon" id="userDropdown" href="#" data-toggle="dropdown" role="button" >
            <img src="image/head.jpg" class="img-thumbnail" width="100%">
          </a>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
             <li><a>宇思 <span class="label label-primary">管理员</span></a></li>
             <li role="separator" class="divider"></li>
             <li><a href="#">退出</a></li>
          </ul>
      </div>
    </header>

    <div id="pageBody" class="container-fluid">
      <div class="row">
        <nav id="slidebar" class="col-sm-2">
          <div class="hidden-xs" style="height: 40px"></div>
          <ul class="nav nav-pills nav-stacked">
            <li><a href="index.html"><span class="glyphicon glyphicon-home"></span>首页</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="project.html"><span class="glyphicon glyphicon-th-list"></span>项目</a></li>
            <li><a href="purchase.html"><span class="glyphicon glyphicon-shopping-cart"></span>采购</a></li>
            <li><a href="tender.html"><span class="glyphicon glyphicon-flag"></span>招标</a></li>
            <li><a href="compact.html"><span class="glyphicon glyphicon-list-alt"></span>合同</a></li>
            <li class="active"><a href="signet.html"><span class="glyphicon glyphicon-ok-sign"></span>用印</a></li>
            <li><a href="approval.html"><span class="glyphicon glyphicon-briefcase"></span>审批<span class="badge pull-right">4</span></a>
            </li>
            <li role="separator" class="divider"></li>
            <li><a href="#"><span class="glyphicon glyphicon-glass"></span>供应商</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-hdd"></span>物料</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span>CRM</a></li>
            <li>
              <a data-toggle="collapse" href="#subnav-jcsz"><span class="glyphicon glyphicon-cog"></span>基础设置 <span class="caret"></span></a>
              <div class="collapse" id="subnav-jcsz">
                <div class="well">
                  <ul class="list-unstyled">
                    <li><a href="#">信息完善</a></li>
                    <li><a href="#">密码修改</a></li>
                    <li><a href="#">权限管理</a></li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </nav>

        <!-- 右侧内容区 -->
        <div class="col-sm-10">

          <div class="page-header">
            <h4>用印管理</h4>
          </div>
          <!-- 搜索框 & 新建 -->
          <div class="row">
            <div class="col-xs-3 col-sm-1 col-sm-offset-6 clearfix">
              <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#signetDetailModal" data-name="new"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
            <div class="col-xs-9 col-sm-5">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="项目名称">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
              </div>
            </div>
          </div>
          <div class="panel panel-default content-list">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>编号</th>
                  <th>用印合同</th>
                  <th>申请人</th>
                  <th>关联项目</th>
                  <th>状态</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr class="success">
                  <th scope="row">1</th>
                  <td>Mark / Tom / Jack</td>
                  <td>Jimmy</td>
                  <td>项目1</td>
                  <td>已通过</td>
                  <td>
                    <a href="#signetDetailModal" data-toggle="modal" data-name="Mark">详细</a>
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Jimmy</td>
                  <td>项目1</td>
                  <td>待审核</td>
                  <td>
                    <a href="#signetDetailModal" data-toggle="modal" data-name="Jacob">详细</a>
                  </td>
                  </td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>Jimmy</td>
                  <td>项目1</td>
                  <td>待修改</td>
                  <td>
                    <a href="#signetDetailModal" data-toggle="modal" data-name="Larry">详细</a>
                  </td>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- 页码 -->
          <div class="row" style="margin-bottom: 20px">
            <div class="col-xs-5 col-sm-3 col-xs-offset-3 col-sm-offset-7">
              <div class="pull-right">
                <button class="btn btn-default"><span class="glyphicon glyphicon-triangle-left text-muted"></span></button>
                <b> 1 / 8 </b>
                <button class="btn btn-default"><span class="glyphicon glyphicon-triangle-right text-muted"></span></button>
              </div>
            </div>
            <div class="col-xs-4 col-sm-2">
              <div class="input-group">
                <input type="text" class="form-control" style="text-align: center;">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">跳转</button>
                </span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <footer>
      <a href="#">客服人员</a> |
      <a href="#">联系邮箱</a> |
      <span>Copyright © 2017 LongJing<span class="hidden-xs">. All Rights Reserved.</span></span>
    </footer>

    <!-- 用印详细 -->
    <div class="modal fade" id="signetDetailModal" tabindex="-1" role="dialog" aria-labelledby="signetDetailModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="signetDetailModalLabel">用印申请详情</h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-success" role="alert">申请已通过审批</div>
            <form>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="signetNum">用印申请编号</label>
                    <input type="number" disabled class="form-control" id="signetNum" placeholder="用印申请编号" value="00001">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="dropdown">
                    <a id="projectListsignet" role="button" data-toggle="dropdown">
                      <div class="form-group">
                        <label for="signetCompact">关联合同</label>
                        <input type="text" class="form-control" id="signetCompact" placeholder="点击选择" disabled>
                      </div>
                    </a>
                    <ul style="max-height: 200px; overflow-y: auto;" class="dropdown-menu" aria-labelledby="compactList">
                      <li><a class="item-single" href="#">Another action</a></li>
                      <li><a class="item-single" href="#">Something else here</a></li>
                      <li><a class="item-single" href="#">Separated link</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="signetDept">用印部门</label>
                    <input type="text" class="form-control" id="signetDept" placeholder="用印部门">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="signetPerson">申请人</label>
                    <input type="text" class="form-control" id="signetPersonr" placeholder="申请人">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="signetType">印章类型</label>
                    <select class="form-control" id="signetType">
                      <option>公司章</option>
                      <option>法人章</option>
                      <option>合同专用章</option>
                      <option>其他章</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="signetPriceSum">合同总价</label>
                    <input type="text" class="form-control" id="signetPriceSum" placeholder="合同总价">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="signetPayWay">付款方式</label>
                    <input type="text" class="form-control" id="signetPayWay" placeholder="付款方式">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="signetTip">备注</label>
                    <input type="text" class="form-control" id="signetTip" placeholder="备注">
                  </div>
                </div>
              </div>          
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary">保存修改</button>
          </div>
        </div>
      </div>
    </div>


    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>