{include file="module/header" /}

        <!-- 右侧内容区 -->
        <div class="col-sm-10">

          <div class="page-header">
            <h4>招标管理</h4>
          </div>
          <!-- 搜索框 & 新建 -->
          <div class="row">
            <div class="col-xs-3 col-sm-1 col-sm-offset-6 clearfix">
              <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#tenderDetailModal" data-name="new"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
            <div class="col-xs-9 col-sm-5">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="项目名称">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
              </div>
            </div>
          </div>
          <div class="panel panel-default content-list">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>编号</th>
                  <th>招标内容</th>
                  <th>关联项目</th>
                  <th>状态</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr class="success">
                  <th scope="row">1</th>
                  <td>Mark / Tom / Jack</td>
                  <td>项目1</td>
                  <td>已通过</td>
                  <td>
                    <a href="#tenderDetailModal" data-toggle="modal" data-name="Mark">详细</a> |
                    <a href="#tenderProcessModal"  data-toggle="modal" data-name="Mark">流程</a> |
                    <a href="#tenderReviewModal"  data-toggle="modal" data-name="Mark">评审</a> |
                    <a href="#"  data-toggle="modal" data-name="Mark">定标</a>
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>项目1</td>
                  <td>待审核</td>
                  <td>
                    <a href="#tenderDetailModal" data-toggle="modal" data-name="Jacob">详细</a> |
                    <a href="#tenderProcessModal"  data-toggle="modal" data-name="Jacob">流程</a> |
                    <a href="#tenderReviewModal"  data-toggle="modal" data-name="Jacob">评审</a> |
                    <a href="#"  data-toggle="modal" data-name="Jacob">定标</a>
                  </td>
                  </td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>项目1</td>
                  <td>待修改</td>
                  <td>
                    <a href="#tenderDetailModal" data-toggle="modal" data-name="Larry">详细</a> |
                    <a href="#tenderProcessModal"  data-toggle="modal" data-name="Larry">流程</a> |
                    <a href="#tenderReviewModal"  data-toggle="modal" data-name="Larry">评审</a> |
                    <a href="#"  data-toggle="modal" data-name="Larry">定标</a>
                  </td>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="alert alert-warning" role="alert">加载中...</div>

          <!-- 页码 -->
          <div class="row" style="margin-bottom: 20px">
            <div class="col-xs-5 col-sm-3 col-xs-offset-3 col-sm-offset-7">
              <div class="pull-right">
                <button class="btn btn-default"><span class="glyphicon glyphicon-triangle-left text-muted"></span></button>
                <b> 1 / 8 </b>
                <button class="btn btn-default"><span class="glyphicon glyphicon-triangle-right text-muted"></span></button>
              </div>
            </div>
            <div class="col-xs-4 col-sm-2">
              <div class="input-group">
                <input type="text" class="form-control" style="text-align: center;">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">跳转</button>
                </span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

{include file="module/tender-detail-modal" /}
{include file="module/tender-process-modal" /}
{include file="module/tender-review-modal" /}
{include file="module/product-modal" /}
{include file="module/footer" /}

  <script src="./js/tender.js"></script>

  </body>
</html>
