    <!-- 付款台账 -->
    <div class="modal fade" id="payLedgerModal" tabindex="-1" role="dialog" aria-labelledby="payLedgerModalLabel">
      <div class="modal-dialog modal-lg" role="document" style="width: 90%;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="payLedgerModalLabel">付款台账</h4>
          </div>
          <div class="modal-body" style="overflow-x: auto;">
            <table id="projectTable" class="table table-striped" style="min-width: 1200px;">
              <thead>
                <tr>
                  <th>编号</th>
                  <th>项目号</th>
                  <th>合同编号</th>
                  <th>采购内容</th>
                  <th>币种</th>
                  <th>合同总价</th>
                  <th>供货厂商</th>
                  <th>付款方式</th>
                  <th>出单时间</th>
                  <th>应付款金额</th>
                  <th>已付款金额</th>
                  <th>付款进度</th>
                  <th>扣款</th>
                  <th>余额</th>
                  <th>发票号码</th>
                  <th>发票金额</th>
                  <th>发票日期</th>
                  <th>备注</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>山西第二火电厂</td>
                  <td>LK1701C-WTX414-002/F01</td>
                  <td>旋流器</td>
                  <td>￥</td>
                  <td>11000.00</td>
                  <td>上海固可曼分离工艺设备有限公司</td>
                  <td>02:08</td>
                  <td>2017-4-14</td>
                  <td>11000</td>
                  <td> </td>
                  <td>提货款</td>
                  <td> </td>
                  <td> </td>
                  <td>74697683</td>
                  <td>11000</td>
                  <td>2017-4-12</td>
                  <td> </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>山西第二火电厂</td>
                  <td>LK1701C-WTX414-003</td>
                  <td>喷嘴</td>
                  <td>￥</td>
                  <td>717960.00 </td>
                  <td>北京华德创业环保设备有限公司</td>
                  <td>100%提货款</td>
                  <td>2017-2-23</td>
                  <td>717960</td>
                  <td> </td>
                  <td>发货款</td>
                  <td> </td>
                  <td> </td>
                  <td>07877018-24</td>
                  <td>717960</td>
                  <td>2017-2-20</td>
                  <td> </td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>山西第二火电厂</td>
                  <td>LK1701C-WTX414-004</td>
                  <td>喷嘴</td>
                  <td>￥</td>
                  <td>23000.00 </td>
                  <td>辽宁豪耐思石化装备有限公司</td>
                  <td>03:06:01</td>
                  <td>2017-2-6</td>
                  <td>20700</td>
                  <td> </td>
                  <td>预付及发货款</td>
                  <td> </td>
                  <td> </td>
                  <td>10304545</td>
                  <td>23000</td>
                  <td>2017-2-23</td>
                  <td> </td>
                </tr>
               </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>

