    <!-- 项目详细 -->
    <div class="modal fade" id="projectDetailModal" tabindex="-1" role="dialog" aria-labelledby="projectDetailModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="projectDetailModalLabel">项目详情</h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-warning" role="alert" style="display: none;">加载中</div>
            <form id="projectDetailForm">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="projectNum">项目编号</label>
                    <input type="number" readonly class="form-control" id="projectNum" name="ID" placeholder="项目编号">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="projectName">项目名称</label>
                    <input type="text" class="form-control" id="projectName" name="name" placeholder="项目名称">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="projectNameAbbr">项目简称</label>
                    <input type="text" class="form-control" id="projectNameAbbr" name="nameAbbr" placeholder="项目简称">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="projectType">项目类型</label>
                    <select class="form-control" id="projectType" name="type">
                      <option>A</option>
                      <option>B</option>
                      <option>C</option>
                      <option>D</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="projectCode">项目代号</label>
                    <input type="text" class="form-control" id="projectCode" name="code" placeholder="项目代号">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="projectAddress">项目交货地址</label>
                    <input type="text" class="form-control" id="projectAddress" name="address" placeholder="项目交货地址">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="projectCompactSum">合同总额</label>
                    <input type="text" class="form-control" id="projectCompactSum" name="compactSum" placeholder="合同总额">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="projectTarget">目标额</label>
                    <input type="text" class="form-control" id="projectTarget" name="target" placeholder="目标额">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="projectPayWay">付款方式</label>
                    <input type="text" class="form-control" id="projectPayWay" name="payWay" placeholder="付款方式">
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="projectIntroduction">项目简介</label>
                    <textarea class="form-control" id="projectIntroduction" name="introduction" placeholder="项目简介"></textarea>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>商务合同</label><br>
                    <input type="hidden" id="projectCompact" name="compact">
                    <div class="btn-group" role="group" data-fileid="0">
                      <a href="#" role="button" class="btn btn-default">附件1</a>
                      <button type="button" class="btn btn-danger del-file"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    <button type="button" class="btn btn-info upload-file" data-loading-text="上传中"><span class="glyphicon glyphicon-plus"></span></button>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>技术协议</label><br>
                    <input type="hidden" id="projectTecDeal" name="tecDeal">
                    <div class="btn-group" role="group" data-fileid="0">
                      <a href="#" role="button" class="btn btn-default">附件1</a>
                      <button type="button" class="btn btn-danger del-file"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    <button type="button" class="btn btn-info upload-file" data-loading-text="上传中"><span class="glyphicon glyphicon-plus"></span></button>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>其他附件</label><br>
                    <input type="hidden" id="projectOtherFile" name="otherFile">
                    <div class="btn-group" role="group" data-fileid="0">
                      <a href="#" role="button" class="btn btn-default">附件1</a>
                      <button type="button" class="btn btn-danger del-file"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    <button type="button" class="btn btn-info upload-file" data-loading-text="上传中"><span class="glyphicon glyphicon-plus"></span></button>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>明细产品</label><br>
                    <input type="hidden" id="projectProduct" class="form-control" name="product" value="">
                    <div class="btn-group" role="group" data-productid="1">
                      <button type="button" class="btn btn-default product-detail">产品1</button>
                      <button type="button" class="btn btn-danger del-product"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    <div class="btn-group" role="group" data-productid="2">
                      <button type="button" class="btn btn-default product-detail">产品2</button>
                      <button type="button" class="btn btn-danger del-product"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    <button type="button" class="btn btn-info product-detail" data-type="add"><span class="glyphicon glyphicon-plus"></span></button>
                    <button type="button" class="btn btn-success upload-file" data-type="excel" data-loading-text="导入中">Excel导入</button>
                    <p class="help-block">Excel导入功能需上传.xlsx格式的文件</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="projectManager">项目经理</label>
                    <input type="text" class="form-control" id="projectManager" name="manager" placeholder="姓名 / 电话">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="projectSiteManager">施工经理</label>
                    <input type="text" class="form-control" id="projectSiteManager" name="manager2" placeholder="姓名 / 电话">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="projectDesginManager">设计经理</label>
                    <input type="text" class="form-control" id="projectDesginManager" name="manager3" placeholder="姓名 / 电话">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="projectPurchaseManager">采购经理</label>
                    <input type="text" class="form-control" id="projectPurchaseManager" name="manager4" placeholder="姓名 / 电话">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="projectReceive">收货人</label>
                    <input type="text" class="form-control" id="projectReceive" name="receive" placeholder="收货人">
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>项目计划</label><br>
                    <input type="hidden" id="projectPlan" name="projectPlan">
                    <div class="btn-group" role="group" data-fileid="0">
                      <a href="#" role="button" class="btn btn-default">附件1</a>
                      <button type="button" class="btn btn-danger del-file"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    <button type="button" class="btn btn-info upload-file" data-loading-text="上传中"><span class="glyphicon glyphicon-plus"></span></button>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>采购计划</label><br>
                    <input type="hidden" id="projectPurchasePlan" name="purchasePlan">
                    <div class="btn-group" role="group" data-fileid="0">
                      <a href="#" role="button" class="btn btn-default">附件1</a>
                      <button type="button" class="btn btn-danger del-file"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    <button type="button" class="btn btn-info upload-file" data-loading-text="上传中"><span class="glyphicon glyphicon-plus"></span></button>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="projectTip">备注</label>
                    <textarea class="form-control" id="projectTip" name="tip" placeholder="备注"></textarea>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" id="projectSubmit" class="btn btn-primary" data-loading-text="提交中">保存修改</button>
          </div>
        </div>
      </div>
    </div>

