    <!-- 项目详细 -->
    <div class="modal fade" id="projectDetailModal" tabindex="-1" role="dialog" aria-labelledby="projectDetailModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="projectDetailModalLabel">项目详情</h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-warning" role="alert" style="display: none;">加载中</div>
            <form id="projectDetailForm">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="hidden" id="projectId" name="projectId" readonly>
                    <label for="projectName">项目名称</label>
                    <input type="text" class="form-control" id="projectName" name="projectName" placeholder="项目名称">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="projectDescription">项目简称</label>
                    <input type="text" class="form-control" id="projectDescription" name="projectDescription" placeholder="项目简称">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="projectType">项目类型</label>
                    <select class="form-control" id="projectType" name="projectType">
                      <option>脱硫</option>
                      <option>脱硝</option>
                      <option>其他</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="projectCode">项目代号</label>
                    <input type="text" class="form-control" id="projectCode" name="projectCode" placeholder="项目代号">
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="projectAddress">项目交货地址</label>
                    <input type="text" class="form-control" id="projectAddress" name="projectAddress" placeholder="项目交货地址">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="projectCompactSum">合同总额</label>
                    <input type="text" class="form-control" id="projectCompactSum" name="projectCompactSum" placeholder="合同总额">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="projectTarget">目标额</label>
                    <input type="text" class="form-control" id="projectTarget" name="projectTarget" placeholder="目标额">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="projectPayment">付款方式</label>
                    <input type="text" class="form-control" id="projectPayment" name="projectPayment" placeholder="付款方式">
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="projectIntroduction">项目简介</label>
                    <textarea class="form-control" id="projectIntroduction" name="projectIntroduction" rows="4" placeholder="项目简介"></textarea>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>商务合同</label><br>
                    <input type="hidden" id="projectCompact" name="projectCompact" readonly>
                    <div class="btn-group" role="group" data-fileid="0">
                      <a href="#" role="button" class="btn btn-default">附件1</a>
                      <button type="button" class="btn btn-danger del-file"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    <button type="button" class="btn btn-info upload-file" data-type="add" data-loading-text="上传中"><span class="glyphicon glyphicon-plus"></span></button>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>技术协议</label><br>
                    <input type="hidden" id="projectTechnologyDeal" name="projectTechnologyDeal" readonly>
                    <div class="btn-group" role="group" data-fileid="0">
                      <a href="#" role="button" class="btn btn-default">附件1</a>
                      <button type="button" class="btn btn-danger del-file"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    <button type="button" class="btn btn-info upload-file" data-type="add" data-loading-text="上传中"><span class="glyphicon glyphicon-plus"></span></button>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>供货范围</label><br>
                    <input type="hidden" id="projectProduct" class="form-control" name="projectProduct" readonly>
                    <div class="btn-group" role="group" data-fileid="0">
                      <a href="#" role="button" class="btn btn-default">附件1</a>
                      <button type="button" class="btn btn-danger del-file"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    <button type="button" class="btn btn-info upload-file" data-type="add" data-loading-text="上传中"><span class="glyphicon glyphicon-plus"></span></button>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="projectManager">项目经理</label>
                    <input type="text" class="form-control" id="projectManager" name="projectManager" placeholder="姓名 / 电话">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="projectSiteManager">施工经理</label>
                    <input type="text" class="form-control" id="projectSiteManager" name="projectSiteManager" placeholder="姓名 / 电话">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="projectDesignManager">设计经理</label>
                    <input type="text" class="form-control" id="projectDesignManager" name="projectDesignManager" placeholder="姓名 / 电话">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="projectPurchaseManager">采购经理</label>
                    <input type="text" class="form-control" id="projectPurchaseManager" name="projectPurchaseManager" placeholder="姓名 / 电话">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="projectReceiver">收货人</label>
                    <input type="text" class="form-control" id="projectReceiver" name="projectReceiver" placeholder="收货人">
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>项目计划</label><br>
                    <input type="hidden" id="projectPlan" name="projectPlan" readonly>
                    <div class="btn-group" role="group" data-fileid="0">
                      <a href="#" role="button" class="btn btn-default">附件1</a>
                      <button type="button" class="btn btn-danger del-file"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    <button type="button" class="btn btn-info upload-file" data-type="add" data-loading-text="上传中"><span class="glyphicon glyphicon-plus"></span></button>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>采购计划</label><br>
                    <input type="hidden" id="projectPurchasePlan" name="projectPurchasePlan" readonly>
                    <div class="btn-group" role="group" data-fileid="0">
                      <a href="#" role="button" class="btn btn-default">附件1</a>
                      <button type="button" class="btn btn-danger del-file"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    <button type="button" class="btn btn-info upload-file" data-type="add" data-loading-text="上传中"><span class="glyphicon glyphicon-plus"></span></button>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>其他附件</label><br>
                    <input type="hidden" id="projectOtherFile" name="projectOtherFile" readonly>
                    <div class="btn-group" role="group" data-fileid="0">
                      <a href="#" role="button" class="btn btn-default">附件1</a>
                      <button type="button" class="btn btn-danger del-file"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    <button type="button" class="btn btn-info upload-file" data-type="add" data-loading-text="上传中"><span class="glyphicon glyphicon-plus"></span></button>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="projectTip">备注</label>
                    <textarea class="form-control" id="projectTip" name="projectTip" placeholder="备注"></textarea>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" id="projectSubmit" class="btn btn-primary" data-loading-text="提交中">保存修改</button>
          </div>
        </div>
      </div>
    </div>

