    <!-- 项目流程 -->
    <div class="modal fade" id="projectProcessModal" tabindex="-1" role="dialog" aria-labelledby="projectProcessModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="projectProcessModalLabel">审批流程</h4>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
              <div class="panel-heading">进度</div>
              <div class="panel-body">
                <ul class="list-inline">
                  <li><h4><span class="label label-success">创建项目</span></h4></li>
                  <li><span class="glyphicon glyphicon-option-horizontal"></span></li>
                  <li><h4><span class="label label-warning">项目经理审核</span></h4></li>
                  <li><span class="glyphicon glyphicon-option-horizontal"></span></li>
                  <li><h4><span class="label label-default">项目立项</span></h4></li>
                </ul>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">历史</div>
              <div class="panel-body">
                <div class="alert alert-success" role="alert">创建新项目！ 潘潘于 2017-02-22 17:17:19 已完成</div>
                <div class="alert alert-info" role="alert">项目经理审核！ 宇思于 2017-02-23 17:17:19 已完成<br><span class="badge">修改联系人以及物料信息</span></div>
                <div class="alert alert-success" role="alert">修改项目！ 潘潘于 2017-02-23 17:17:19 已完成</div>
                <div class="alert alert-info" role="alert">项目立项！ 宇思于 2017-02-24 17:17:19 已完成</div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>
