    <!-- 采购详细 -->
    <div class="modal fade" id="purchaseDetailModal" tabindex="-1" role="dialog" aria-labelledby="purchaseDetailModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="purchaseDetailModalLabel">采购申请详情</h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-success" role="alert">申请已通过审批</div>
            <form>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="purchaseNum">采购申请编号</label>
                    <input type="number" disabled class="form-control" id="purchaseNum" placeholder="采购申请编号" value="00001">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="dropdown">
                    <a id="projectList" role="button" data-toggle="dropdown">
                      <div class="form-group">
                        <label for="purchaseProject">关联项目</label>
                        <input type="text" class="form-control" id="purchaseProject" placeholder="点击选择" disabled>
                      </div>
                    </a>
                    <ul style="max-height: 200px; overflow-y: auto;" class="dropdown-menu" aria-labelledby="projectList">
                      <li><a class="item-single" href="#">Another action</a></li>
                      <li><a class="item-single" href="#">Something else here</a></li>
                      <li><a class="item-single" href="#">Separated link</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>采购内容</label>
                    <input type="hidden" class="form-control" disabled><br>
                    <p class="help-block">点击产品以查看详情</p>
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-default product-detail" data-name="产品1"">产品1</button>
                      <button type="button" class="btn btn-danger delProduct"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-default product-detail" data-name="产品2">产品2</button>
                      <button type="button" class="btn btn-danger delProduct"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="purchaseApplyDate">申请日期</label>
                    <input type="date" class="form-control" id="purchaseApplyDate" placeholder="申请日期">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="purchaseArriveDate">到货日期</label>
                    <input type="date" class="form-control" id="purchaseArriveDate" placeholder="到货日期">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="purchasePlace">到货地点</label>
                    <input type="text" class="form-control" id="purchasePlace" placeholder="到货地点">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="purchaseUnit">请购单位</label>
                    <input type="text" class="form-control" id="purchaseUnit" placeholder="请购单位">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="purchaseWay">付款方式</label>
                    <input type="text" class="form-control" id="purchaseWay" placeholder="付款方式">
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="purchaseTecNorm">技术规范</label>
                    <textarea class="form-control" id="purchaseTecNorm" placeholder="技术规范"></textarea>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="purchaseTecFile">技术规范书</label>
                    <div class="alert alert-warning" role="alert">文件上传中...</div>
                    <div class="btn-group" role="group">
                      <a href="#" role="button" class="btn btn-default">附件1</a>
                      <button type="button" class="btn btn-danger delProduct"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span></button>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="purchaseExplain">用途说明</label>
                    <textarea class="form-control" id="purchaseExplain" placeholder="用途说明"></textarea>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="purchaseRequest">采购商务要求</label>
                    <textarea class="form-control" id="purchaseRequest" placeholder="采购商务要求"></textarea>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="purchaseDDL">最迟签约时间</label>
                    <input type="date" class="form-control" id="purchaseDDL" placeholder="最迟签约时间">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="purchaseQuality">质保期</label>
                    <input type="text" class="form-control" id="purchaseQuality" placeholder="质保期">
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="purchaseRecommend">推荐供方</label>
                    <textarea class="form-control" id="purchaseRecommend" placeholder="推荐供方"></textarea>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="purchaseIsConform">是否符合总包合同</label>
                    <select class="form-control" id="purchaseIsConform">
                      <option>是</option>
                      <option>否</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="purchaseNotReason">不符合原因</label>
                    <textarea class="form-control" id="purchaseNotReason" placeholder="不符合原因"></textarea>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="purchaseNotContent">不符合内容</label>
                    <textarea class="form-control" id="purchaseNotContent" placeholder="不符合内容"></textarea>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="purchaseApprover">审批人</label>
                    <select class="form-control" id="purchaseApprover">
                      <option>A</option>
                      <option>B</option>
                    </select>
                  </div>
                </div>
              </div>          

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary">保存修改</button>
          </div>
        </div>
      </div>
    </div>

