    <!-- 供方详细 -->
    <div class="modal fade" id="suplierDetailModal" tabindex="-1" role="dialog" aria-labelledby="suplierDetailModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="suplierDetailModalLabel">供方详情</h4>
          </div>
          <div class="modal-body">
            <form id="suplierDetailForm">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierNum">供方编号</label>
                    <input type="number" class="form-control" id="suplierNum" name="suplierID" placeholder="供方编号" value="00001" readonly>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierName">供方名称</label>
                    <input type="text" class="form-control" id="suplierName" name="name" placeholder="供方名称">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierCode">供方代码</label>
                    <input type="text" class="form-control" id="suplierCode" name="code" placeholder="供方代码">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierType">供方类型</label>
                    <input type="text" class="form-control" id="suplierType" name="type" placeholder="供方类型">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierCtName">联系人姓名</label>
                    <input type="text" class="form-control" id="suplierCtName" name="ctName" placeholder="联系人姓名">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierCtPhone">联系人电话</label>
                    <input type="text" class="form-control" id="suplierCtPhone" name="ctPhone" placeholder="联系人电话">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierCtJob">联系人职务</label>
                    <input type="text" class="form-control" id="suplierCtJob" name="ctJob" placeholder="联系人职务">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierCtFax">联系人传真</label>
                    <input type="text" class="form-control" id="suplierCtFax" name="ctFax" placeholder="联系人传真">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierEmail">电子邮件</label>
                    <input type="text" class="form-control" id="suplierEmail" name="email" placeholder="电子邮件">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierHomepage">供方主页</label>
                    <input type="text" class="form-control" id="suplierHomepage" name="homepage" placeholder="供方主页">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierContact">其他联系方式</label>
                    <input type="text" class="form-control" id="suplierContact" name="contact" placeholder="其他联系方式">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierLegal">企业法人</label>
                    <input type="text" class="form-control" id="suplierLegal" name="legal" placeholder="企业法人">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierFund">注册资金</label>
                    <input type="text" class="form-control" id="suplierFund" name="fund" placeholder="注册资金">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierQualified">质量认证</label>
                    <input type="text" class="form-control" id="suplierQualified" name="qualified" placeholder="质量认证">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierAppraise">评审情况</label>
                    <input type="text" class="form-control" id="suplierAppraise" name="appraise" placeholder="评审情况">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierArchiveID">档案编号</label>
                    <input type="text" class="form-control" id="suplierArchiveID" name="archiveID" placeholder="档案编号">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierPlace">所在地区</label>
                    <input type="text" class="form-control" id="suplierPlace" name="place" placeholder="所在地区">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierAddress">详细地址</label>
                    <input type="text" class="form-control" id="suplierAddress" name="address" placeholder="详细地址">
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="suplierIntroduction">企业介绍</label>
                    <textarea class="form-control" id="suplierIntroduction" name="introduction" placeholder="企业介绍"></textarea>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="suplierMainProduct">主要产品</label>
                    <textarea class="form-control" id="suplierMainProduct" name="mainProduct" placeholder="主要产品"></textarea>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="suplierFinance">财务状况</label>
                    <textarea class="form-control" id="suplierFinance" name="finance" placeholder="财务状况"></textarea>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="suplierAchievement">典型业绩</label>
                    <textarea class="form-control" id="suplierAchievement" name="achievement" placeholder="典型业绩"></textarea>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="suplierTip">备注</label>
                    <textarea class="form-control" id="suplierTip" name="tip" placeholder="备注"></textarea>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button id="suplierSubmit" type="button" class="btn btn-primary" data-loading-text="提交中">保存修改</button>
          </div>
        </div>
      </div>
    </div>

