    <!-- 供应商详细 -->
    <div class="modal fade" id="suplierDetailModal" tabindex="-1" role="dialog" aria-labelledby="suplierDetailModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="suplierDetailModalLabel">供应商详情</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierNum">供应商编号</label>
                    <input type="number" disabled class="form-control" id="suplierNum" name="ID" placeholder="供应商编号" value="00001">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierName">供应商名称</label>
                    <input type="text" class="form-control" id="suplierName" name="name" placeholder="供应商名称">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierType">供应商类型</label>
                    <input type="text" class="form-control" id="suplierType" name="type" placeholder="供应商类型">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierPlace">所在地区</label>
                    <input type="text" class="form-control" id="suplierPlace" name="place" placeholder="所在地区">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierAddress">地址</label>
                    <input type="text" class="form-control" id="suplierAddress" name="address" placeholder="地址">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierPhone">电话</label>
                    <input type="text" class="form-control" id="suplierPhone" name="phone" placeholder="电话">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierFax">传真</label>
                    <input type="text" class="form-control" id="suplierFax" name="fax" placeholder="传真">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierQuali">资质</label>
                    <input type="text" class="form-control" id="suplierQuali" name="quali" placeholder="资质">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierPayWay">结算方式</label>
                    <input type="text" class="form-control" id="suplierPayWay" name="payWay" placeholder="结算方式">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierLicense">营业执照号</label>
                    <input type="text" class="form-control" id="suplierLicense" name="license" placeholder="营业执照号">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierBillPhone">开票地址电话</label>
                    <input type="text" class="form-control" id="suplierBillPhone" name="billPhone" placeholder="开票地址电话">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierBank">账户开户行</label>
                    <input type="text" class="form-control" id="suplierBank" name="bank" placeholder="账户开户行">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierAccount">银行账户</label>
                    <input type="text" class="form-control" id="suplierAccount" name="account" placeholder="银行账户">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="suplierTip">备注</label>
                    <input type="text" class="form-control" id="suplierTip" name="tip" placeholder="备注">
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary">保存修改</button>
          </div>
        </div>
      </div>
    </div>

