    <!-- 招标详细 -->
    <div class="modal fade" id="tenderDetailModal" tabindex="-1" role="dialog" aria-labelledby="tenderDetailModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="tenderDetailModalLabel">招标申请详情</h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-warning" role="alert">加载中</div>
            <form id="tenderDetailForm">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="tenderNum">招标申请编号</label>
                    <input type="number" class="form-control" id="tenderNum" name="tenderID" placeholder="招标申请编号" readonly>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="hidden" id="tenderPurchaseID" name="purchaseID" readonly>
                    <label for="tenderPurchase">关联请购</label>
                    <select class="form-control" id="tenderPurchase" name="purchase">
                      <option data-purchaseid="1" data-id="1" data-project="project" data-product="1,2," data-productid="1" data-productname="product">B</option>
                      <option data-purchaseid="2">C</option>
                      <option data-purchaseid="3">D</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="hidden" id="tenderProjectID" name="ID" readonly>
                    <label for="tenderProject">关联项目</label>
                    <input type="text" class="form-control" id="tenderProject" name="projectName" placeholder="关联项目" readonly>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="tenderManager">采购经理</label>
                    <select class="form-control" id="tenderManager" name="manager">
                      <option>A</option>
                      <option>B</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>招标内容</label>
                    <input type="hidden" id="tenderProduct" name="product" readonly><br>
                    <div class="btn-group" role="group" data-productid="1">
                      <button type="button" class="btn btn-default product-detail">产品1</button>
                      <button type="button" class="btn btn-danger del-product"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    <div class="btn-group" role="group" data-productid="2">
                      <button type="button" class="btn btn-default product-detail">产品2</button>
                      <button type="button" class="btn btn-danger del-product"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    <button type="button" class="btn btn-info product-detail" data-type="add" data-once="false"><span class="glyphicon glyphicon-plus"></span></button>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="purchaseApplyDate">申请日期</label>
                    <input type="date" class="form-control" id="tenderApplyDate" name="applyDate" placeholder="申请日期">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="tenderTecDate">技术标开标日期</label>
                    <input type="date" class="form-control" id="tenderTecDate" name="tecDate" placeholder="技术标开标日期">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="tenderPriceDate">价格标开标日期</label>
                    <input type="date" class="form-control" id="tenderPriceDate" name="priceDate" placeholder="价格标开标日期">
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="tenderAdviceSuplier">建议入围制造厂商</label>
                    <textarea class="form-control" id="tenderAdviceSuplier" name="adviceSuplier" placeholder="建议入围制造厂商"></textarea>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="tenderAdviceSuplierAdd">补充入围制造厂商</label>
                    <textarea class="form-control" id="tenderAdviceSuplierAdd" name="adviceSuplierAdd" placeholder="补充入围制造厂商"></textarea>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="tenderTip">备注</label>
                    <textarea class="form-control" id="tenderTip" name="tip" placeholder="备注"></textarea>
                  </div>
                </div>
              </div>          
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" id="tenderSubmit" class="btn btn-primary" data-loading-text="提交中">保存修改</button>
          </div>
        </div>
      </div>
    </div>
