    <!-- 招标详细 -->
    <div class="modal fade" id="tenderDetailModal" tabindex="-1" role="dialog" aria-labelledby="tenderDetailModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="tenderDetailModalLabel">招标申请详情</h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-success" role="alert">申请已通过审批</div>
            <form>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="tenderNum">招标申请编号</label>
                    <input type="number" disabled class="form-control" id="tenderNum" placeholder="招标申请编号" value="00001">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="dropdown">
                    <a id="purchaseList" role="button" data-toggle="dropdown">
                      <div class="form-group">
                        <label for="tenderPurchase">关联采购申请</label>
                        <input type="text" class="form-control" id="tenderPurchase" placeholder="点击选择" disabled>
                      </div>
                    </a>
                    <ul style="max-height: 200px; overflow-y: auto;" class="dropdown-menu" aria-labelledby="purchaseList">
                      <li><a class="item-single" href="#">Another action</a></li>
                      <li><a class="item-single" href="#">Something else here</a></li>
                      <li><a class="item-single" href="#">Separated link</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>招标内容</label>
                    <input type="hidden" class="form-control" disabled><br>
                    <button type="button" class="btn btn-default product-detail" data-name="产品1"">产品1</button>
                    <button type="button" class="btn btn-default product-detail" data-name="产品2"">产品2</button>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="purchaseApplyDate">申请日期</label>
                    <input type="date" class="form-control" id="tenderApplyDate" placeholder="申请日期">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="tenderApplyDate">申请日期</label>
                    <input type="date" class="form-control" id="tenderApplyDate" placeholder="申请日期">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="tenderTecDate">技术标开标日期</label>
                    <input type="date" class="form-control" id="tenderTecDate" placeholder="技术标开标日期">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="tenderPriceDate">价格标开标日期</label>
                    <input type="date" class="form-control" id="tenderPriceDate" placeholder="价格标开标日期">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="tenderAdviceSuplier">建议投标入围制造厂商</label>
                    <input type="text" class="form-control" id="tenderAdviceSuplier" placeholder="建议投标入围制造厂商">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="tenderTip">备注</label>
                    <input type="text" class="form-control" id="tenderTip" placeholder="备注">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="tenderApprover">审批人</label>
                    <select class="form-control" id="tenderApprover">
                      <option>A</option>
                      <option>B</option>
                    </select>
                  </div>
                </div>
              </div>          
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary">保存修改</button>
          </div>
        </div>
      </div>
    </div>
