    <!-- 设备问题 -->
    <div class="modal fade" id="urgeProblemModal" tabindex="-1" role="dialog" aria-labelledby="urgeProblemModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="urgeProblemModalLabel">设备问题</h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-warning" role="alert">加载中</div>
            <div class="panel panel-success">
              <div class="panel-heading">问题1：设备不达标？（已解决）</div>
              <div class="panel-body">
                解决方案：重新设计
              </div>
            </div>
            <div class="panel panel-warning">
              <div class="panel-heading">问题2：风力不达标？（待解决）</div>
              <div class="panel-body">
                解决方案：增加功率
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>
